html{
	scroll-behavior: smooth;
  font-family: 'Lato', sans-serif; 
margin: auto;
}

body{
	margin: 0;
	max-width: 100vw;
}

header{
	height: 18vh;
	width: 100%;
	background-color: #1d017c;
	display: flex;
	justify-content: space-between;
	margin:0;
	
}
.contact-details
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 30vw;
	align-items: center;

}

.contact-icons{
  	color: #fff;
 	flex-direction: row;
 	display: flex;

 }
/*header   .profile-number{
	width: 50%;
	height: 40px;
	color: #fff;
	flex-direction: row;
	display: flex;
}*/
.box-body
{
	height: 110vh;
	background-image:url("../img/mountain.webp");
		display: flex;
	align-items: center;
	justify-content: space-around;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	

}
.box-para
{
	padding: 20px;
	height: 52%;
	width: 30%;
	background-color: #8253a8;
	border-radius: 4%;
	font-family: 'Lato', sans-serif; 
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-form
{
	padding: 20px;
	height: 86%;
	width: 40%;
	background: #eaecf7;
	border-radius: 2%;
	 text-shadow: 2px 2px 8px #ccc;
}
.box-form .box1
{
/*width: 500px;*/
/*height: 10px;*/
text-align: center;	

}
.box2{
	margin:10px;
	padding: 7px;

}
.box2 input
{
	width: 100%;
	padding: 5px;
	border-radius: 3%;
	border:none;
	
}
.box3{
	margin: 10px;
	padding: 5px;

}

.box3 textarea
{
	padding: 5px;
	
	width: 100%;
	border-radius: 3%;
	border:none;
}
.form-foot
{
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.foot button
{
	background-color: #1d017c;
	height: 33px;
	width: 90px;
	color: #fff;
	border:none;
}
.box-footer{
	height: 34vh;
background-color: #1d017c;
}
.box1-footer
{
	padding: 5px;
	color: #fff;
	text-align: center;
}
.box2-footer
{
	color: #fff;
	text-align: center;
	padding: 27px;
}
.box3-footer
{
	padding: 8px;
	/*height: 7vh;*/
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}
.box4-footer
{
		color: grey;
		padding: 13px;

}
@media (max-width: 1080px){
	header{
		display: flex;
	justify-content: space-between;
	}
	.contact-details{
		display: flex;
		flex-direction: column;
		width: 36vw;
	}

	.box-para{
		height: 70%;
	}

}
@media  (max-width: 700px){
	header{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	.contact-details{
		flex-direction: column;
	}
.box-body{
	padding: 190px;
		display: flex;
		flex-direction: column;
	}
	.box-para{
		width: 60vw;
		align-content: center;
		margin-top: 10%	}

	.box-form{
		height: 85%;
		width: 70vw;
		margin: 10%;
		align-content: center;

	}
}
@media (max-width: 555px){
		.box-form{
			margin-top: 20px;
			height: 90%;
		}
		.box-para{
			height: 68%;
			margin-bottom: 15%;
		}
		.box-body{
		height: 120vh;
		padding-top: 253px;
		padding-bottom: 290px;
	}
		
	}

@media (max-width: 400px){
	header{
		justify-content: center;
		align-items: center;
	}
	
	.box-para{

		height:90%;
	
		min-width: 50%;
		}
	.box-form{
		
		/*margin-top: 300%;*/
	}}
	@media (max-width: 380px){
		.box-para{
			height: 95%;
			min-width: 45%;
		}
	}
	

